.about-container {
  gap: 16px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: -80px;
}