@use "@carbon/colors";

//This file is delicate, please handle with care ^x^
$spacing-sm: 10px;
$spacing-md: 20px;
$radius: 20px;
$font-size-default: 16px;
$font-size-small: 14px;
$grid-gap: $spacing-sm;
$transition-duration: 0.3s;
$height: 100vh;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin padding($vertical, $horizontal) {
  padding: $vertical $horizontal;
}

@mixin fade-in {
  animation: fadeIn $transition-duration ease-in-out;
}

.layout_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto;
  gap: $grid-gap;
  height: $height;

  @media (max-width: 768px) {
    @include flex-column;
  }
}

.left_column,
.right_column {
  grid-row: 1 / 2;

  @media (max-width: 768px) {
    display: none;
  }
}

.left_column {
  grid-column: 1;
}

.right_column {
  grid-column: 3;
}

.message_container {
  grid-column: 2;
  grid-row: 1 / 2;
  @include flex-column;
  padding-bottom: $spacing-md;

  @media (max-width: 768px) {
    flex-grow: 1;
    height: auto;
  }
}

#user_input_area {
  grid-column: 2;
  grid-row: 2 / 3;
  @include flex-column;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: white; //covers messages
  padding: $spacing-md;
}


.message {
  @include padding($spacing-sm, $spacing-md);
  border-radius: $radius;
  max-width: 75%;
  font-size: $font-size-default;
  line-height: 1.4;
  word-wrap: break-word;
  margin-bottom: $spacing-md;
  @include fade-in;

  @media (max-width: 768px) {
    max-width: 90%;
    font-size: $font-size-small;
  }

  &.user_message {
    background-color: #f4f4f4;
    align-self: flex-end;
  }

  &.watson_message {
    background-color: colors.$blue-50;
    align-self: flex-start;
  }
}

.timestamp {
  font-size: $font-size-small;
  color: colors.$gray-70;
  margin-top: $spacing-sm;
}

button {
  margin-top: $spacing-sm;
  align-self: center;

  @media (max-width: 768px) {
    margin: 0 $spacing-sm;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}