@use "@carbon/colors";

$mobile-breakpoint: 768px;
$transition-duration: 0.3s;

$border-style: 1px solid rgba(100, 105, 125, 0.2);

$spacing: (
  sm: 10px,
  md: 20px
);

$radius: 20px;
$font-sizes: (
  default: 16px,
  small: 14px
);

$colors: (
  user-bg: #f4f4f4,
  ai-bg: colors.$blue-50,
  ai-bg-hover: colors.$blue-50-hover,
  text-highlight: colors.$blue-50,
  timestamp: colors.$gray-70
);

@mixin mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }

  //no clue what ive done in this file i threw it together in about 10 mins #copyandpastemagic
.login_form_container {
    width: 350px;
    background-color: white;
    padding: map-get($spacing, md);
    border-radius: $radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .login_input  {
        margin-bottom: map-get($spacing, md);
      
        .bx--text-input {
          font-size: map-get($font-sizes, default);
        }
      
        .bx--label {
          font-size: map-get($font-sizes, small);
          margin-bottom: map-get($spacing, sm) / 2;
        }
      }
      
      .login_button {
        background: map-get($colors, ai-bg) !important;
        color: white !important;
        border: none;
        border-radius: 8px;
        padding: 16px 24px;
        width: 100%;
        transition: background $transition-duration ease;
      
        &:hover {
          background: map-get($colors, ai-bg-hover) !important;
        }
      
        &:disabled {
          background-color: #ccc;
          border-color: #ccc;
          cursor: default;
        }
      }
  }

  .login_input  {
    margin-bottom: map-get($spacing, md);
  }
  
  .login_button {
    background: map-get($colors, ai-bg) !important;
    color: white !important;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    transition: background $transition-duration ease;
  
    &:hover {
      background: map-get($colors, ai-bg-hover) !important;
    }
  
    &:disabled {
      background-color: #ccc;
      border-color: #ccc;
      cursor: default;
    }
  }
  
  .error {
    color: red;
    margin-top: map-get($spacing, sm);
    font-size: map-get($font-sizes, small);
  }

  body { 
    background-color: map-get($colors, user-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: map-get($spacing, md);
  }